body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 35px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.wrapper {
    background: url(../Content/Images/valley.jpg) no-repeat center center fixed;
    /*background-size: cover;*/
}*/

/*#region Start Live Menu("dropdown menu") css*/
.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0px;
    border: none;
    outline: none;
}

.menu {
    height: inherit;
    width: inherit;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a, 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a, 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a, 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a, 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .menu li {
        position: relative;
        list-style: none;
        float: left;
        display: block;
        height: 40px;
    }


        .menu li a {
            display: block;
            padding: 0 14px;
            margin: 6px 0;
            line-height: 28px;
            text-decoration: none;
            border-left: 1px solid #393942;
            border-right: 1px solid #4f5058;
            font-family:'Bradley Hand ITC', Helvetica, sans-serif;
            font-weight: bold;
            font-size: 15px;
            color:blanchedalmond;
            text-shadow: 1px 1px 1px rgba(0,0,0,.6);
            -webkit-transition: color .2s ease-in-out;
            -moz-transition: color .2s ease-in-out;
            -o-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
        }

    .menu ul {
        position: absolute;
        top: 40px;
        left: 0;
        opacity: 0;
        background: #1f2024;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        -webkit-transition: opacity .25s ease .1s;
        -moz-transition: opacity .25s ease .1s;
        -o-transition: opacity .25s ease .1s;
        transition: opacity .25s ease .1s;
        width: 150px;
    }

    .menu li:hover > ul {
        opacity: 1;
    }

    .menu ul li {
        height: 0;
        overflow: hidden;
        padding: 0;
        -webkit-transition: height .25s ease .1s;
        -moz-transition: height .25s ease .1s;
        -o-transition: height .25s ease .1s;
        transition: height .25s ease .1s;
    }

    .menu li:hover > ul li {
        height: 36px;
        overflow: visible;
        padding: 0;
    }

    .menu ul li a {
        width: 150px;
        padding: 4px 0 4px 13px;
        margin: 0;
        border: none;
        border-bottom: 1px solid #353539;
    }

    .menu ul li:last-child a {
        border: none;
    }

/*#endregion Live Menu("Drop Down Menu")*/

.sidebar {
    float: left;
    width: 10%;
    height: 80%;
    color: white;
    font: 32px Lato;
    font-weight: 100;
    text-align: center;
    top: 40px;
    left: -10px;
    bottom: 0;
    position: absolute;
}

.pictures a img {
    width: 117px;
    height: 100px;
}

.text {
    text-align: justify;
}

/*add underline in active <li>*/

.nav li.active {
    border-bottom: 2px solid;
    margin-bottom: 5px;
    border-color: lightgreen;
    transition: all .2s ease-in;
}

    .nav li.active a {
        color: #fff;
        font-weight: bold;
        margin-bottom: 5px;
    }
    /*end underline in active <li> css*/

.alert {
  margin: 5px 30% 0 30%;
}