@{
    ViewBag.Title = "Enotourism History";
}
<h3>History</h3>

<p>Enotourism or Wine tourism refers to tourism whose purpose is or includes the tasting, consumption or purchase of wine, often at or near the source. Where other types of tourism are often passive in nature, enotourism can consist of visits to wineries, tasting wines, or even taking an active part in the harvest.

Enotourism is a relatively new form of tourism. Its history varies greatly from region to region, but in places such as the Napa Valley AVA, it saw heavy growth once a concerted marketing effort was implemented in 1975  that was given a further boost by the 1976 Judgment of Paris.
Other regions, such as Catalonia, Spain have only started marketing enotourism starting in the mid-2000's, primarily focusing on how it is an alternative form of tourism to the beach for which Spain is overall known.
There was also a rise in the profile of enotourism among English speakers with the 2004 release of the film,Sideways whose two central characters visit wineries and wine in the Santa Barbara region of Southern California.The industry around enotourism has grown significantly throughout the first decade of the 21st century. In the United States 27 million travelers, or 17% of American leisure travelers, engaged in culinary or wine-related activities. In Italy the figure stands at approximately five million travelers, generating 2.5 billion euros in revenue.
A private initiative by Recevin  holds an annual "Enotourism Day" on the second Sunday of November each year to promote cellar visits in Germany, Austria, Slovenia, Spain, France, Greece, Hungary, Italy, and Portugal. In North America, the first Wine Tourism Day[8] was established for May 11, 2013 with events scheduled throughout the continent.

</p>

<h3>Activities</h3>
<p>Most visits to the wineries take place at or near the site where the wine is produced. Visitors typically learn the history of the winery, see how the wine is made, and then taste the wines. At some wineries, staying in a small guest house at the winery is also offered. Many visitors buy the wines made by the winery at the premises, accounting for up to 33% of their annual sales.
Very small, low production regions such as Priorat, Catalonia focus on small, intimate visits with the owner as the host and include walks through the vineyards to help visitors understand the unique qualities of the region.
More elaborate tastings can include horizontal and vertical tastings as well as full meals focused upon showcasing the wines.
As the enotourism industry matures, additional activities have been added to visits such as riding electrically assisted bicycles, called, "burricleta".
</p>

<h3>Wine Cathedrals</h3>
<p>Cèsar Martinell i Brunet (Valls, December 24, 1888 - Barcelona, November 19, 1973) was a Catalan modernista architect. He was part of the small and selected group of architects that were connected to Antoni Gaudí, his most important teacher. As a multifaceted person, Martinell was also a researcher and art historian. He became famous for the many wine cellars he made for the agriculture cooperatives of different towns throughout Catalonia, especially in the south, in the Province of Tarragona. These are known as "the cathedrals of wine".
Cèsar Martinell artistic style was primarily Modernisme, with some Noucentisme. His masterpieces were his designs for wineries, which are called the cathedrals of wine (les catedrals del vi) due to their magnificence. The use of traditional architectural techniques and materials helped to build these monumental buildings. His wine cathedrals are located in several cities of Catalonia such asFalset, Nulles, Cornudella de Montsant, Montblanc and Gandesa, and some of them can be visited. He also designed the flour millof Cervera and he managed restoration projects, such as the Basilica of Santa Maria in Igualada.
</p>
