@{
    ViewBag.Title = "Wine History";
}

<aside class="sidebar">
    <div class="pictures">
        <a href="~/Content/Images/1.jpg">
            <img src="~/Content/Images/1.jpg"/>
        </a>
        <a href="~/Content/Images/2.jpg">
            <img src="~/Content/Images/2.jpg"/>
        </a>
        <a href="~/Content/Images/3.jpg">
            <img src="~/Content/Images/3.jpg"/>
        </a>
        <a href="~/Content/Images/4.jpg">
            <img src="~/Content/Images/4.jpg"/>
        </a>
        <a href="~/Content/Images/5.jpg">
            <img src="~/Content/Images/5.jpg"/>
        </a>
        <a href="~/Content/Images/6.jpg">
            <img src="~/Content/Images/6.jpg"/>
        </a>
        <a href="~/Content/Images/7.jpg">
            <img src="~/Content/Images/7.jpg"/>
        </a>
        <a href="~/Content/Images/8.jpg">
            <img src="~/Content/Images/8.jpg"/>
        </a>
        <a href="~/Content/Images/9.jpg">
            <img src="~/Content/Images/9.jpg" />
        </a>
        <a href="~/Content/Images/10.jpg">
            <img src="~/Content/Images/10.jpg" />
        </a>
    </div>
</aside>

<h3>Wine produced from grapes</h3>
<div class="text">
    <p>
        The earliest archaeological evidence of wine production yet found has been at sites in Georgia (c. 6000 BC), Iran (c. 5000BC), Greece (c. 4500 BC) and Armenia (c. 4100 BC), where the oldest winery to date was uncovered.
        The altered consciousness produced by wine has been considered religious since its origin. The Greeks worshiped Dionysusand Bacchus and the Romans carried on his cult. Consumption of ritual wine was part of Jewish practice since Biblical timesand, as part of the eucharist commemorating Jesus's Last Supper, became even more essential to the Christian Church. Although Islam nominally forbade the production or consumption of wine, during its Golden Age, alchemists such as Geberpioneered wine's distillation for medicinal and industrial purposes such as the production of perfume.[11] The Turkic Uyghurswere even responsible for reintroducing viticulture to China from the Tang dynasty onwards.
        Wine production and consumption increased, burgeoning from the 15th century onwards as part of European expansion. Despite the devastating 1887 phylloxera louse infestation, modern science and technology adapted and industrial wine production and wine consumption now occur throughout the world.
    </p>

    <h3>Prehistory</h3>
    <p>
        The origins of wine predate written records, and modern archaeologyis still uncertain about the details of the first cultivation of wildgrapevines. It has been hypothesized that early humans climbed trees to pick berries, liked their sugary flavor, and then begun collecting them. After a few days with fermentation setting in, juice at the bottom of any container would begin producing low-alcohol wine. According to this theory, things changed around 10.000-8000 BC with the transition from a nomadic to a sedentism style of living, which led to agriculture and wine domestication.
        Wild grapes grow in Georgia, Armenia, Azerbaijan, the northernLevant, coastal and southeastern Turkey, and northern Iran. The fermenting of strains of this wild Vitis vinifera subsp. sylvestris (the ancestor of the modern wine grape, V. vinifera) would have become easier following the development of pottery during the later Neolithic, c. 11,000 BC. However, the earliest evidence so far discovered dates from millennia afterwards.
        The earliest archaeological evidence of wine production yet found has been at sites in Georgia (c. 6000 BC), Iran (c. 5000 BC), Greece (c. 4500 BC) and Armenia(c. 4100 BC). The Iranian jars contained a form of retsina, using turpentine pine resin to more effectively seal and preserve the wine.[13] Production spread to other sites in Greater Iran and Grecian Macedonia by c. 4500 BC. The Greek site is notable for the recovery at the site of the remnants of crushed grapes.

    </p>

    <h3>Non-grape wine</h3>
    <p>
        Fruit wines are fermented alcoholic beverages made from a variety of base ingredients (other than grapes); they may also have additional flavors taken from fruits, flowers, and herbs. This definition is sometimes broadened to include any fermented alcoholic beverage except beer. For historical reasons, mead, cider, and perry are also excluded from the definition of fruit wine.
        Fruit wines have traditionally been popular with home winemakers and in areas with cool climates such as North America andScandinavia; in Africa, India, and the Philippines, wine is made from bananas.
        Fruit wines are usually referred to by their main ingredient (e.g., plum wine or elderberry wine) because the usual definition of wine states that it is made from fermented grapejuice.
        In the European Union, wine is legally defined as the fermented juice of grapes.
        In the United Kingdom, fruit wine is commonly called country wine; the term should not be conflated with the French term vin de pays, which is grape wine. In British legislation, the term made-wine is used.
        Fruit wine can be made from virtually any plant matter that can be fermented. Most fruits and berries have the potential to produce wine. Few foods other than grapes have the balanced quantities of sugar, acid, tannin, nutritive salts for yeast feeding and water to naturally produce a stable, drinkable wine, so most country wines are adjusted in one or more respects at fermentation. However, some of these products do require the addition of sugar or honey to make them palatable and to increase the alcoholic content (sugar is converted to alcohol in the fermentation). Two commonly produced varieties are elderberry wine and dandelion wine. Tainted elderberry wine is the beverage used to commit murders in Joseph Kesselring's play and Frank Capra's film adaptation Arsenic and Old Lace. A wine made from elderberry flowers is called elder blow wine.
        The amount of fermentable sugars is often low and needs to be supplemented by a process called chaptalization in order to have sufficient alcohol levels in the finished wine.Sucrose is often added so that there is sufficient sugar to ferment to completion while keeping the level of acidity acceptable. If the specific gravity of the initial solution is too high, indicating an excess of sugar, water or acidulated water may be added to adjust the specific gravity down to the winemaker's target range.
        Many kinds of fruit have a natural acid content which would be too high to produce a savory and pleasant fruit wine in undiluted form; this can be particularly true, among others, for strawberries, cherries, pineapples, and raspberries. Therefore, much as to regulate sugar content, the fruit mash is generally topped up with water prior to fermentation to reduce the acidity to pleasant levels. This also dilutes and reduces overall fruit flavor; a loss of flavor can be compensated for by adding sugar again after fermentation which then acts as a flavor enhancer (known as a back-sweetener), while too much acid in the finished wine will always give it undesired harshness and poignancy.
        Many fruit wines suffer from a lack of natural yeast nutrients needed to promote or maintain fermentation. Winemakers can counter this with the addition of nitrogen, phosphorus and potassium available commercially as yeast nutrient. In the opinion of one wine writer fruit wines often do not improve with bottle age and are usually meant to be consumed within a year of bottling.
    </p>
</div>