@{
    ViewBag.Title = "Restaurant";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Chateau Dreams is a magnificent bastion of the culture of classical service and a dining room of unadulterated opulence created in reverence to haute cuisine. Established by Auguste Escoffier, one of history’s most influential chefs, our restaurant is considered by many to be the most beautiful dining room in the world and features towering marble columns, soaring floor to ceiling windows, vast kaleidoscopic ceiling frescoes, gilded neoclassical statues and a spectacular garland chandelier that envelops diners within a halo of light.</p>
