@{
    ViewBag.Title = "Rooms";
}

<h3>Suite</h3>
<p>
    Ideal for couples that appreciate the extra space but also for small families, these one bedroom suites offer privacy and comfort for your stay.
</p>
<h3>King Bedroom</h3>
<p>
    The bedroom offers one king size bed and the large living area has a full kitchen with serving area, living room with sofa & a balcony.
</p>
<h3>Double Room</h3>

<p>Most suitable for couples and the size enables you to relax and feel at home.
All rooms are also fitted with a desk, a closet and a washlet.</p>
